<!-- Updated contact information -->
@{
    ViewBag.Title = "Contact information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Donna Vito<br />
    Jamesville, NY 13078<br />
    <abbr title="Phone">P:</abbr>
    315.572.5429
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:donnavito42@gmail.com">donnavito42@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:donnavito42@gmail.com">donnavito42@gmail.com</a>
</address>