<!--
Index view
Updated with portfolio landing page content
TO DO: Add samples of test projects -->

@{
    ViewBag.Title = "Home";
}

<!-- Changed h1 to h2 since h1 font is too large -->
<div class="jumbotron">
    <h2>Donna Vito, Web Developer Portfolio</h2>
    <p class="lead">
        Proactive individual desiring to transfer experience in programming, analysis, testing, problem-solving and 
        technical documentation to a Web Developer position. Self-motivated and versatile with strong customer service 
        and team-building skills. Studying for MCSA Web Applications Certification.

    </p>

    <!-- Changed button to point to Resume view -->
    <p><a class="btn btn-primary btn-lg" href="~/Home/Resume">Learn more &raquo;</a></p>

</div>

<!-- Changed the first column to point to NASA's image website
TO DO: This will be eventually be changed to point to Vito Space Lines sample website -->

<div class="row">
    <div class="col-md-4">
        <h2>Vito Space Lines</h2>
        <!-- TO DO:  A website that runs a slideshow of five NASA pictures for the eight planets of our solar system and Pluto. -->
        <p>
            Link to my first web site.
        </p>

        <p><a class="btn btn-default" href="http://dvito428.com/">Launch Vito Space Lines</a></p>


    </div>

    <!-- These two columns have not been changed yet.
    TO DO: Build two more sample websites to add to this landing page -->
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>